/* 見た目ここから */
body{
    background-color: rgb(27, 27, 27);
    position: absolute;
    width: 100%;
    height: 100%;
}
.obj{
    color: white;
}
#dynamic_part{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 見た目ここまで */
@keyframes spine{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.obj{
    display: inline-block;
    position: absolute;
    transform-origin: 50% 50%;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    animation: 3s linear infinite spine;
}
/* アニメーションここまで*/