body{
    background-color: rgb(0, 0, 0);
}
/*恒星*/
.solar-system{
    text-align: middle;
    height:100%;
    position:relative;
}
.star{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 15%;
    height:auto;
}
.planets{
    height: 50%;
    width: 50%;
    position:absolute;
    top:50%;
    left:50%;
    position:relative;
}
.planet{
    width: 20px;
	height: 20px;
	border-radius: 50%;
    position: relative;
}
.content{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.content:hover{
    opacity: 1;
}
.planet p{
    color:#ffffff;
    opacity: 0.5;
    width: 200%;
    position: absolute;
    top:50%;
    left: -40%;
}
/*惑星*/
.topic1{
    position: absolute;
    top:0;
    left:40%;
    background: #727272;
}
.topic2{
    position: absolute;
    top:0;
    left:36%;
    background: #783d3d;
}
.topic3{
    position: absolute;
    top:0;
    left:32%;
    background: #6e7092;
}
.topic4{
    position: absolute;
    top:0;
    left:28%;
    background: #c0944e;
}
.topic5{
    position: absolute;
    top:0;
    left:24%;
    background: #ffffff;
}
.topic6{
    position: absolute;
    top:0;
    left:20%;
    background: #43004f;
}


/*メニュー*/
.bar{
    color: #ffffff;
}
.list{
    color: #ffffff;
}
 ul.ddmenu {
    position:absolute;
    top: 0px;
    left: -20px;
    color: #ffffff;
 }
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.ddmenu li {
    width: 14.5px;           /* メニュー項目の横幅(125px) */
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
 ul.ddmenu a {
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    display: block;  /* ★4:項目内全域をリンク可能にする */
 }
 /* ▼サブメニューは、とりあえず非表示にしておく */
 ul.ddmenu ul {
    display: none;         /* ★5:非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
   position: absolute;  /* ★4:絶対配置にする */
}
ul.ddmenu li:hover ul {   display: block;   }
/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid rgb(255, 255, 255); /* 項目上側の枠線(ピンク色で1pxの実線) */
 }
 ul.ddmenu ul li a {
    line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
 }
 ul.ddmenu ul li a:hover {
    background-color: #2b2b2b; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #ffffffb0;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
 }

 /*アニメーション*/
 .move1{
    transform-origin:0 0 0;
    animation:84s linear infinite rotation;
 }
 .move2{
    transform-origin:0 0 0;
    animation:69s linear infinite rotation;
 }
 .move3{
    transform-origin:0 0 0;
    animation:55s linear infinite rotation;
 }
 .move4{
    transform-origin:0 0 0;
    animation:42s linear infinite rotation;
 }
 .move5{
    transform-origin:0 0 0;
    animation:30s linear infinite rotation;
 }
 .move6{
    transform-origin:0 0 0;
    animation:25s linear infinite rotation;
 }
 .move1-1{
    transform-origin:0 0 0;
    animation:84s linear infinite rotation2;
 }
 .move2-1{
    transform-origin:0 0 0;
    animation:69s linear infinite rotation2;
 }
 .move3-1{
    transform-origin:0 0 0;
    animation:55s linear infinite rotation2;
 }
 .move4-1{
    transform-origin:0 0 0;
    animation:42s linear infinite rotation2;
 }
 .move5-1{
    transform-origin:0 0 0;
    animation:30s linear infinite rotation2;
 }
 .move6-1{
    transform-origin:0 0 0;
    animation:25s linear infinite rotation2;
 }
 @keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }
  @keyframes rotation2{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(-360deg); }
  }