body{
   user-select: none;
   background-color: rgb(150, 150, 150, 1);
   background-blend-mode: darken;
   max-height: 100vh;
}
/*恒星*/
.solar-menu {
   display: flex;
   flex-wrap: nowrap;
   vertical-align: middle;
}
.solar-system{
   display: table;
   min-width: 1200px;
   height: 90vh;
   margin: auto;
   position: relative;
}
.polar-fix {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.polar{
   width: 200px;
}
.planets{
   position: absolute;
   top: 50%;
   left: 50%;
}
.orbit{
   width: 100px;
   height: 100%;
   position: relative;
}
.planet {
   width: 30px;
	height: 30px;
	border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   opacity: 0.8;
}
.planet:hover {
   opacity: 1;
}
.planet:hover > * {
   opacity: 1;
}
.content{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.planet p{
   color:#ffffff;
   opacity: 0.8;
   position: absolute;
   width: 100px;
   text-align: center;
   left: -35px;
   top: 20px;
}

/*UIメニュー*/
.top-UI-menu {
   position: absolute;
   z-index: 100;
   width: 100vw;
   left: 0;
   top: 0;
   color: white;
}
.pos-lock {
   position: fixed;
}
.solar-name-UI {
   font-size: 30px;
   text-align: center;
   justify-content: center;
   padding: 25px;
   margin-top: 20px;
   margin-left: 20px;
   color: rgb(24, 173, 242);
   border: 5px solid rgb(24, 173, 242);
   border-radius: 20px;
}
.bottom-UI-wrap {
   display: block;
   height: 110px;
}
.bottom-UI-menu {
   position: absolute;
   z-index: 100;
   width: 100vw;
   left: calc(50vw - 350px);
   bottom: 20px;
   color: white;
}
.solar-add-fix {
   position: relative;
   width: 570px;
   height: 100px;
   border: 5px solid rgb(24, 173, 242);
   border-radius: 20px;
   display: flex;
}
.solar-add-text {
   position: absolute;
   font-size: 30px;
   top: 30px;
   padding-left: 20px;
   color: rgb(24, 173, 242);
}
.solar-add-UI {
   position: absolute;
   top: 20px;
   left: 140px;
   color: white;
   font-size: 30px;
   background-color: rgb(0, 0, 0, 0);
   padding: 10px;
   border: 3px solid rgb(177, 211, 227);
   opacity: 0.5;
}
.solar-add-UI:focus{
   caret-color: rgb(177, 211, 227);
   outline: solid 0;
   opacity: 1;
   color: rgb(177, 211, 227);
}
.solar-add-btnbox {
   position: absolute;
   left: 600px;
}
.solar-add-btn {
   color: rgb(177, 211, 227);
   font-size: 30px;
   width: 100px;
   height: 80px;
   border-radius: 10px;
   margin: 10px;
   background-color: rgb(53, 118, 175);
   border: 0;
}
.solar-add-btn:hover {
   cursor: pointer;
   background-color: rgb(80, 155, 221);
}
.return-btn {
   position: absolute;
   left: 20px;
   bottom: 20px;
   width: 100px;
   height: 100px;
   border: 5px solid rgb(24, 173, 242);
   border-radius: 20px;
   display: table;
}
.return-btn > a {
   display: table-cell;
   vertical-align: middle;
   color: rgb(24, 173, 242);
   font-size: 50px;
   padding: 10px;
   font-weight: bold;
   text-decoration: none;
}
.return-btn > a:hover {
   color: rgb(177, 211, 227);
}

.bar{
    color: #ffffff;
}
.list{
    color: #ffffff;
}

 ul.ddmenu {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    color: white;
 }
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.ddmenu li {
    width: 14.5px;          /* メニュー項目の横幅(125px) */
    list-style-type: none;  /* ★2:リストの先頭記号を消す */
    position: relative;     /* ★3:サブメニュー表示の基準位置にする */
}
 ul.ddmenu a {
    color: white;              /* メニュー項目の文字色(白色) */
    line-height: 40px;         /* メニュー項目のリンクの高さ(40px) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    display: block;  /* ★4:項目内全域をリンク可能にする */
 }
 /* ▼サブメニューは、とりあえず非表示にしておく */
 ul.ddmenu ul {
    display: none;         /* ★5:非表示にする */
    margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
   padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
   position: absolute;  /* ★4:絶対配置にする */
}
ul.ddmenu li:hover ul {   display: block;   }
/* ------------------------ */
/* ▼サブメニュー項目の装飾 */
/* ------------------------ */
ul.ddmenu ul li {
    width: 135px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid rgb(255, 255, 255); /* 項目上側の枠線(ピンク色で1pxの実線) */
 }
 ul.ddmenu ul li a {
    line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
 }
 ul.ddmenu ul li a:hover {
    background-color: #2b2b2b; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #ffffffb0;          /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
   transform: tran
}

/*アニメーション*/
@keyframes rotation{
   0%{ transform:rotate(0);}
   100%{ transform:rotate(360deg); }
}
@keyframes rotation2{
   0%{ transform:rotate(0);}
   100%{ transform:rotate(-360deg); }
}