body{
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
    border: 0 0 0 0;
    padding: 0 0 0 0;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-blend-mode: normal;
    cursor: pointer;
}
.top-UI-menu {
    z-index: 20000;
}
.return-btn {
    z-index: 20000;
}
/*user*/
#user{
    position: absolute;
	top: 70%;
	left: 50%;
    transition: all 0.1s;
}
#user img{
    width: 100px;
    height: auto;
}

/*cpu*/
.cpu {
    position: absolute;
}
.cpu-speech {
    width: 300px;
    height: auto;
}
.cpu-img {
    width: 100px;
    height: auto;
}
.cpu-wrapper {
    position: relative;
    height: 100vh;
}
.speech-pos {
    position: absolute;
    top: -200px;
    left: 50px;
    transition: all 1s;
    opacity: 0;
}
.speech-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}