<!DOCTYPE html>
<html lang="ja">
<head>
    <!--ヘッダー情報-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="icon" href="{{url_for('static', path='./planet.ico')}}" sizes="any">
    <link rel="icon" href="{{url_for('static', path='./planet.svg')}}" type="image/svg+xml"/>
    <link rel="stylesheet" href="{{url_for('static', path='./css/index.css')}}" type="text/css"/>
    <title>Planet</title>
</head>
<body style="background-image:url({{url_for('static', path="img/BackGroundImage.jpg")}})">
    <div class="solar-menu">
    {% for solar in solars %}
        <div class="solar-system">
            <div class="polar-fix">
            <img src="{{url_for('static', path='./img/' + solar[2])}}" class="polar">
            </div>
            <div class="planets">
                {% for planet in planets[loop.index - 1] %}
                <div class="orbit">
                    <a href="{{planet[1]}}">
                        <div class="planet">
                            <div class="content">
                            <p>{{planet[1]}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="planets">
                {% for idx in range(20) %}
                <div class="small-orbit">
                    <div class="small-planet"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

    <ul class="ddmenu">
        <li>
            <a href="#" class="bar"><span class="fa fa-bars"></span></a>
            <ul>
                <li><a href="#" class="list">星座</a></li>
                <li><a href="#" class="list">地球</a></li>
                <li><a href="#" class="list">ビッグバン</a></li>
                <li><a href="#" class="list">ユニバース</a></li>
                <li><a href="#" class="list">宇宙人</a></li>
                <li><a href="#" class="list">銀河系</a></li>
            </ul>
        </li>
    </ul>
</body>
<script type="text/javascript" src="{{url_for('static', path='./js/index.js')}}"></script>
</html>