<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="icon" href="{{url_for('static', path='./planet.ico')}}" sizes="any">
    <link rel="icon" href="{{url_for('static', path='./planet.svg')}}" type="image/svg+xml"/>
    <link rel="stylesheet" href="{{url_for('static', path='./css/index.css')}}" type="text/css"/>
    <title>Planet</title>
</head>
<body>
    <div class="solar-system">
        <img src="{{url_for('static', path='./StarImage.png')}}" class="star">
        <div class="planets">
            <div class="move1">
                <a href="#">
                    <div class="planet topic1 move1-1">
                        <div class="content">
                        <p>星座</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="move2">
                <a href="#">
                    <div class="planet topic2 move2-1">
                        <div class="content">
                        <p>地球</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="move3">
                <a href="#">
                    <div class="planet topic3 move3-1">
                        <div class="content">
                        <p>ビッグバン</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="move4">
                <a href="#">
                    <div class="planet topic4 move4-1">
                        <div class="content">
                        <p>ユニバース</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="move5">
                <a href="#">
                    <div class="planet topic5 move5-1">
                        <div class="content">
                        <p>宇宙人</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="move6">
                <a href="#">
                    <div class="planet topic6 move6-1">
                        <div class="content">
                        <p>銀河系</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <ul class="ddmenu">
        <li>
            <a href="#" class="bar"><span class="fa fa-bars"></span></a>
            <ul>
                <li><a href="#" class="list">星座</a></li>
                <li><a href="#" class="list">地球</a></li>
                <li><a href="#" class="list">ビッグバン</a></li>
                <li><a href="#" class="list">ユニバース</a></li>
                <li><a href="#" class="list">宇宙人</a></li>
                <li><a href="#" class="list">銀河系</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>