<!DOCTYPE html>
<html lang="ja">
<head>
    <!--ヘッダー情報-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="icon" href="{{url_for('static', path='./planet.ico')}}" sizes="any">
    <link rel="icon" href="{{url_for('static', path='./planet.svg')}}" type="image/svg+xml"/>
    <link rel="stylesheet" href="{{url_for('static', path='./css/index.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', path='./css/star.css')}}" type="text/css"/>
    <title>Planet</title>
</head>
<body style="background-image:url({{url_for('static', path="img/starBackGround.png")}})">
    <div id="user">
        <img src="{{url_for('static', path="img/spaceman1.png")}}">
    </div>
    <div id="cpu1" class="cpu">
        <img src="{{url_for('static', path="img/spaceman2.png")}}" id="cpu1-img">
        <div id="speech-wrapper1">
            <img src="{{url_for('static', path="img/speech_balloon.png")}}" class="speech">
            <p>こんにちは！！</p>
        </div>
    </div>

    <div id="cpu2" class="cpu">
        <img src="{{url_for('static', path="img/spaceman3.png")}}" id="cpu2-img">
        <div id="speech-wrapper2">
            <img src="{{url_for('static', path="img/speech_balloon.png")}}" class="speech">
            <p>おはぎ！！</p>
        </div>
    </div>

    <!--UIメニュー-->
    <div class="top-UI-menu">
        <div class="pos-lock">
            <div class="solar-name-UI">{{solar}}系 {{planet}}星</div>
        </div>
    </div>
    <div class="return-btn">
        <a href="/planet/{{solar}}/{{planet}}" title="戻る">←</a>
    </div>
    <script type="text/javascript" src="{{url_for('static', path='./js/star.js')}}"></script></body>
</html>